// 定义全局通用变量

// 顶部导航栏 开始
$navHeight:80px;
// 顶部导航栏 结束

// 左侧菜单栏 开始
$menuWidth:50px;
$menuHoverWidth:200px;
// 左侧菜单栏 结束

// 中间页面的设置 开始
$headHeight:80px;
$headPadding:40px;
$headBorderColor:#ccc;
$footerHeight:60px;
// 中间页面的设置 结束