$theme-name: 'default1';
$theme-nprogress-bgc: #999;

// 导航头部
$theme-head-bgc: #ebf1f6;
// 导航右侧菜单颜色
$theme-head-setting-color: #606266;
$theme-head-setting-hover-color: #2f74ff;
$theme-head-setting-hover-bgc-color: hsla(0, 0%, 100%, .5);
$theme-head-title:#666;

// 左侧菜单
$theme-menu-bgc: #ebf1f6;
$theme-menu-border-color: #d1d1d1;
$theme-menu-title-color: #606266;
$theme-menu-title-arrow-color: #606266;
$theme-menu-title-hover-color: #2f74ff;
$theme-menu-title-hover-bgc-color: hsla(0, 0%, 100%, .5);
$theme-menu-title-active-bgc-color: hsla(0, 0%, 100%, .5);

// 头部 tabs 页
$theme-tabs-bgc: #d9dde0;
$theme-tabs-color: #606266;
$theme-tabs-border-color: #aaa;

// 视图部分
$theme-view-wrap-bgc: #e2e2e2;
$theme-view-container: #fff;