$theme-name: 'default2';
$theme-nprogress-bgc: rgba(255, 255, 255, .95);

// 导航头部
$theme-head-bgc: #2c3643;
// 导航右侧菜单颜色
$theme-head-setting-color: #ccc;
$theme-head-setting-hover-color: #ccc;
$theme-head-setting-hover-bgc-color: #2a2d2e;
$theme-head-title:#ccc;

// 左侧菜单
$theme-menu-bgc: #2c3643;
$theme-menu-border-color: transparent;
$theme-menu-title-color: #ccc;
$theme-menu-title-arrow-color: #ccc;
$theme-menu-title-hover-color: #fff;
$theme-menu-title-hover-bgc-color: #2a2d2e;
$theme-menu-title-active-bgc-color: #222a34;

// 头部 tabs 页
$theme-tabs-bgc: #152231;
$theme-tabs-color: #ccc;
$theme-tabs-border-color: #aaa;

// 视图部分
$theme-view-wrap-bgc: #d4d4d4;
$theme-view-container: #fff;